@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #F0EAD2;
}


nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
    position: fixed;
    background-color:#A98467;
    height: 4rem;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}


#menu{
    text-align: right;
}

#menu>li{
    margin-right: 10px;
    
}

#menu>li>a{
    text-align: right;
    text-decoration: none;
    color: black;
}

#menu>li>a:hover{
    color: #8C3C2A;
}

#container{
    box-shadow: inset 2px 2px 20px 0px rgba(0, 0, 0, 0.658);;
    width: 99vw;
    height: 100vh;
    background: url(imagens/cafe.png);
    background-size: cover;
    background-attachment: fixed;
}

section{
    min-height: 100vh;
}

#quem-somos{
    text-align:right;
    padding: 90px;
    font-size: 3vh;
    background-color: #D9D2D5; 
  
}

.icon{
    float: left;
    margin-left: 80px;
}