@charset "UTF-8";

@media screen and (max-width:600px) {
    boady{
        background-color: gray;
    }
    main#container{
        background-position: center;
        background-color: grey;
    }

    ul#cardapio{
        padding: 4px;
        
    }
}

